.login-title{
    font-size: 3rem;
    margin: 1rem 3rem;
    text-align: center;
    font-weight: 700;
}
.login-input{
    text-align: center;
        color: black;
        font-size: 16px;
}
.login-btn-form{
    align-items: baseline;
    justify-content: center;
    margin-bottom: 2rem;
}
.btn-login{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem 2rem;
    margin-left: 1rem;
    font-size: 20px;
    }
    .login-navlink{
        align-items: center;
    }