.card-search {
    border: 2px solid #000;
    margin-right: 10px; /* Tạo khoảng cách bên phải giữa các card */
    margin-bottom: 10px; 
    padding: 1rem;
    max-width: 24%;
    text-decoration: none!important;
    width: 300px; // Định rõ chiều rộng của card
    height: 400px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .card-search-img {
    display: flex;
    justify-content: center;
    height: 40%;
    object-fit: cover;
  }
  
  .card-search-content {
    width: 100%; // Đảm bảo chiều rộng của thành phần con không vượt quá card
    height: 50%; // Định rõ chiều cao của thành phần con
    padding: 0.5rem; // Tạo khoảng cách giữa nội dung và viền của thành phần con
    box-sizing: border-box; // Đảm bảo kích thước tính cả viền trong tính toán kích thước
    text-overflow: ellipsis;
    overflow: hidden;
    
    .content-title {
      font-size: 18px;
      font-weight: bold;
      color: #000;
    }
    
    .content-title.text-muted {
      color: #999;
    }
    
    .content-sub {
      font-size: 14px;
      color: #666;
    }
  }
  